<div class="row" style="margin-top: 10px;">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" style ="max-height:300px;" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="align">{{recipe.name}}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="toShoppingList()"><mat-icon>shopping_basket</mat-icon>To Shopping List</button>
            <button (click)="onEditRecipe()" mat-menu-item><mat-icon>edit</mat-icon>Edit Recipe</button>
            <button mat-menu-item (click)="onDelete()"><mat-icon>delete</mat-icon>Delete Recipe</button>
          </mat-menu>
          <button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu">
            Manage   <mat-icon>expand_more</mat-icon>
          </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" >
        {{recipe.desc}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <mat-card *ngFor = "let ingredient of recipe.ingredients">{{ingredient.name}} ({{ingredient.amount}})</mat-card>    
    </div>
</div>